[Desktop Entry]
Version=0.9.4
Type=Application
Name=Radiotray
Name[ja]=ラジオトレイ
Comment=internet radio
Comment[ja]=インターネットラジオに聞く
Exec=radiotray
StartupNotify=false
Terminal=false
Hidden=false
OnlyShowIn=XFCE;
